body {
    background-color: #6699FF;
    color: #FFFFFF;
    font-family: "Droid Sans", sans-serif;
    text-align: center;
  }
  body h1 {
    font-size: 2.5em;
  }
  body ul {
    padding: 0;
    font-size: 2em;
  }
  body ul li {
    display: inline-block;
    width: 1.2em;
  }
  body ul li.grow {
    transition: all 0.2s ease-in-out;
  }
  body ul li.grow:hover {
    transform: scale(1.5);
  }